In [1]:
class Apple:
    def __init__(self, color, flavor):
        self.color = color
        self.flavor = flavor

honeycrisp = Apple("red", "sweet")
fuji = Apple("red", "tart")
print(honeycrisp.flavor)
print(fuji.flavor)

sweet
tart

In [2]:
class Apple:
    def __init__(self, color, flavor):
        self.color = color
        self.flavor = flavor
    def __str__(self):
        return "This apple is {} and its flavor is {}".format(self.color, self.flavor)


jonagold = Apple("red", "sweet")
print(jonagold)

This apple is red and its flavor is sweet

In [4]:
print(7<"number")

TypeError: '<' not supported between instances of 'int' and 'str'

In [5]:
def sum(x, y):
        return(x+y)
print(sum(sum(1,2), sum(3,4)))

10

In [6]:
((24 == 5*2) and (24 > 3*5) and (2*6 == 12))

False

In [7]:
def greater_value(x, y):
    if x > y:
        return x
    else:
       return y


print(greater_value(10,3*5))

15

In [8]:
x = 5*2

((10 != x) or (10 > x))

False

In [12]:
x=1
while x<= 5:
    print("Not there",x)
    x+=1
print(x)

Not there 1
Not there 2
Not there 3
Not there 4
Not there 5
6

In [ ]:
values = [ 23, 52, 59, 37, 48 ]
sum = 0
length = 0
for value in values:
    sum += value
    length += 1

print("Total sum: " + str(sum) + " - Average: " + str(sum/length))

In [3]:
for i in range(-16,2,-2):
    print(i)

In [5]:
for right in range(0, 7):
    print("[" + str(right) + "|" + str(right) + "]", end=" ")

[0|0] [1|1] [2|2] [3|3] [4|4] [5|5] [6|6]

In [21]:
for left in range(7):
  for right in range(1, 2):
    print("[" + str(left) + "|" + str(right) + "]", end=" ")
  print()

[0|1]
[1|1]
[2|1]
[3|1]
[4|1]
[5|1]
[6|1]

In [10]:
for left in range(7):
  for right in range(left, 7):
    print("[" + str(left) + "|" + str(right) + "]", end=" ")
  print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [25]:
teams = [ 'Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
  for away_team in teams:
    if home_team != away_team:
        print(home_team + " vs " + away_team)

Dragons vs Wolves
Dragons vs Pandas
Dragons vs Unicorns
Wolves vs Dragons
Wolves vs Pandas
Wolves vs Unicorns
Pandas vs Dragons
Pandas vs Wolves
Pandas vs Unicorns
Unicorns vs Dragons
Unicorns vs Wolves
Unicorns vs Pandas

In [ ]:
for element in long_list:
  do_something(element)

for element1 in long_list:
  for element2 in long_list:
    do_something(element1, element2)

In [2]:
greeting = 'Hello'
index = 0
while index < len(greeting):
    print(greeting[index:index+1])
    index += 1

H
e
l
l
o

In [3]:
greeting = 'Hello'
index = 0
while index < len(greeting):
	print(greeting[index])
	index += 1

H
e
l
l
o

In [10]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [x ** 2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
for x in sequence:
    # start of body of for loop
    if condition is true:
        # start of body of if-statement
        # end of body of if-statement
    # continue body of for loop
    # end of body of for loop

# As a list comprehension:
[x for x in sequence if condition]

In [ ]:

for x in range(7):
    if x % 2 == 0:
        print(x)

# The loop should print 0, 2, 4, 6

# As a list comprehension:
even_numbers = [x for x in range(7) if x % 2 == 0]
print(even_numbers)

In [14]:
for n in range(6,18+1,3):
  print(n*2)

12
18
24
30
36

In [21]:
input = "Four score and seven years ago"
for c in range(len(input)):
    if c in ['a', 'e', 'i', 'o', 'u']:
        print(c)

In [18]:
for n in range(0,18+1,2):
  print(n*2)

0
4
8
12
16
20
24
28
32
36

In [22]:
for n in range(10):
  print(n+n)

0
2
4
6
8
10
12
14
16
18

In [24]:
def factorial(n):
  if n < 2:
    return 1
  return n * factorial(n-1)

factorial(6)

720

In [27]:
def factorial(n):
  print("Factorial called with " + str(n))
  if n < 2:
    print("Returning 1")
    return 1
  result = n * factorial(n-1)
  print("Returning " + str(result) + " for factorial of " + str(n))
  return result

factorial(2)

Factorial called with 2
Factorial called with 1
Returning 1
Returning 2 for factorial of 2

2

In [ ]:
def recursive_function(parameters):
    if base_case_condition(parameters):
        return base_case_value
    recursive_function(modified_parameters)

In [28]:
for x in range(10):
    for y in range(x):
        print(y)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8

In [29]:
def decade_counter():
    while year < 50:
        year += 10
    return year

In [30]:
num1 = 0
num2 = 0

for x in range(5):
    num1 = x
    for y in range(14):
        num2 = y + 3

print(num1 + num2)

20

In [5]:
fruit = "ABCD"
print(fruit[0:]) #1:2

ABCD

In [7]:
def replace_domain(email, old_domain, new_domain):
  if "@" + old_domain in email:
    index = email.index("@" + old_domain)
    print(index)
    new_email = email[:index] + "@" + new_domain
    return new_email
  return email

replace_domain("ddsdsd@yahoo.com","yahoo.com","gmail.com")

6

'ddsdsd@gmail.com'

In [8]:
" ".join(["dfgfdv","Fvdfvfd"])

'dfgfdv Fvdfvfd'

In [ ]:
name = "Manny"
print("Your lucky number is {number}, {name}.".format(name=name, number=len(name)*3))

In [13]:
price = 7.5
with_tax = price * 1.09
print(price, with_tax)
print("Base price: ${:.4f}. With Tax: ${:.2f}".format(price, with_tax))

7.5 8.175
Base price: $7.5000. With Tax: $8.18

In [19]:
def to_celsius(x):
  return (x-32)*5/9

for x in range(0,101,10):
  print("{:>3} F | {:>10.5f} C".format(x, to_celsius(x)))

  0 F |  -17.77778 C
 10 F |  -12.22222 C
 20 F |   -6.66667 C
 30 F |   -1.11111 C
 40 F |    4.44444 C
 50 F |   10.00000 C
 60 F |   15.55556 C
 70 F |   21.11111 C
 80 F |   26.66667 C
 90 F |   32.22222 C
100 F |   37.77778 C

In [24]:
g = "kaYik kayak"
h = g[::-1].lower()
print(h)
g.isalpha()

kayak kiyak

False

In [26]:
Weather="Rainfall"

print(Weather[:4])

print(Weather[:"f"])

Rain

TypeError: slice indices must be integers or None or have an __index__ method

In [28]:
y = "dan akan pergi coba"
y.index("akan")

4

In [31]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.insert(0, "Orange")
print(fruits)
fruits.insert(25, "Peach")
print(fruits)
fruits.remove("Melon")
print(fruits)
fruits.pop(3)
fruits[2] = "Strawberry"
print(fruits)

['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon']
['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Peach']
['Orange', 'Pineapple', 'Banana', 'Apple', 'Peach']
['Orange', 'Pineapple', 'Strawberry', 'Peach']

In [32]:
animals = ["Lion", "Zebra", "Dolphin", "Monkey"]
chars = 0
for animal in animals:
    chars += len(animal)

print("Total characters: {}, Average length: {}".format(chars, chars/len(animals)))

Total characters: 22, Average length: 5.5

In [33]:
def full_emails(people):
  result = []
  for email, name in people:
    result.append("{} <{}>".format(name, email))
  return result
print(full_emails([("alex@example.com", "Alex Diego"), ("shay@example.com", "Shay Brandt")]))

['Alex Diego <alex@example.com>', 'Shay Brandt <shay@example.com>']

In [35]:
def square(x):
    return x **2

num = [x for x in range(1,10+1)]

squared_numbers = map(square,num)

squared_numbers_list = list(squared_numbers)

print(squared_numbers_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
fruit = ['Apple','Banana','Orange']
price = [10000,5000,7000]

fruitsAndPrices = zip(fruit,price)

fruitsAndPrices_list = list(fruitsAndPrices)

print(fruitsAndPrices_list)

[('Apple', 10000), ('Banana', 5000), ('Orange', 7000)]

In [40]:
fruit = ['Apple','Banana','Orange']
price = [10000,5000,7000]

gabung = fruit.extend(price)
print(fruit)

['Apple', 'Banana', 'Orange', 10000, 5000, 7000]

In [42]:
years = ["Jan 2023","Feb 2023","Mar 2023","May 2023"]

updated_years = []

for year in years:
    if year.endswith("2023"):
        new = year.replace("2023","2024")
        updated_years.append(new)
    else :
        updated_years.append(year)

print(updated_years)

['Jan 2024', 'Feb 2024', 'Mar 2024', 'May 2024']

In [45]:
import pyfiglet
import numpy as np

# Generate random integers
random_integers = np.random.randint(1, 2, 101)

# Convert the array to a string
output_string = ' '.join(map(str, random_integers))

# Print the string in a larger font size using pyfiglet
ascii_art = pyfiglet.figlet_format(output_string, font='big')
print(ascii_art)

ModuleNotFoundError: No module named 'pyfiglet'